body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: left;
}

.comment {
  color: grey;
  font-style: italic;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.grey {
  color: grey;
}
