{% extends 'base.html' %}

{% block container %}

  <div class="starter-template">

    {% spaceless %}
    {% if ie6 or win_xp%}
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Warnings about your configuration</h3>
        </div>
        <div class="panel-body">
            <ul>
                {% if win_xp%}<li>Supporting Internet Explorer on Windows XP imply to enable RC4 cipher that is discouraged for some reasons. This version of IE doesn't provides Perfect Forward Secrecy.</li>{% endif %}
                {% if ie6 %}<li>Supporting Internet explorer 6 imply to enable SSLv3 and RC4 cipher that are both discouraged nowadays</li>{% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% endspaceless %}

    <pre>
    LoadModule ssl_module modules/mod_ssl.so

    Listen 443
    &lt;VirtualHost *:443&gt;
        ServerName www.{{fqdn}}
        ServerAlias {{fqdn}}

        SSLEngine on
        SSLCertificateFile /etc/ssl/certs/{{fqdn}}.crt
        SSLCertificateKeyFile /etc/ssl/private/{{fqdn}}.key

        SSLCipherSuite HIGH:!aNULL:!MD5
    &lt;/VirtualHost&gt;
    </pre>
</div>

{% endblock %}
